<form action="/productos">
  <label for="postprod">Utilice el formato: {"title": "titulo", "price": "100",
    "thumbnail": "img link"}
  </label>
  <input type="text" name="postprod" />
</form>
<a href="productos.hbs"><button class="btn">Productos</button></a>