<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
  </head>
  <body>
    <form action="/productos" method="POST">
      <label for="postprod"
        >Utilice el formato: {"title": "titulo", "price": "100", "thumbnail":
        "img link"}
      </label>
      <input type="text" name="postprod" />
    </form>
    <a href="/productos"><button id="btn">Productos</button></a>
  </body>
</html>
