<form action="/productos" method="POST">
  <label for="postprod">Utilice el formato: {"title": "titulo", "price": "100",
    "thumbnail": "img link"}
  </label>
  <input type="text" name="postprod" />
</form>
<a href="/productos"><button class="btn">Productos</button></a>